{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="about-container">

    <br> <img src="{% static 'images/profile1.jpg' %}" id="profile1" alt="This is me">
    <br><br><br>
    <p>"Hi there! I'm Johnny Bapor, a BSIT Student based in Bacoor City, Cavite, Philippines.
        <br> I've always been passionate about Computer. My website is a place where I share my
        <br> knowledge, experiences, and insights on my Journey.

    <p>I'm a passionate in Computer with 3 years of experience in College.<br>
        I specialize in Web and app development. I'm skilled at App development,<br>
        and I'm always eager to learn new things and stay up-to-date with the latest trends in my field.
        <br>Whether you're IT, I hope you'll find something valuable here. Feel free to
        explore my Website</p></p>
</div>
{% endblock content %}